.footer {
    background-color: #1c242a;
    padding: 45px 0px 50px 0px;
    // .footer__container
    &__container {
        display: flex;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    // .footer__column
    &__column {
        // .footer__column_wide
        &_wide {
            flex: 1 1 auto;
        }
        // .footer__column_logo
        &_logo {
            flex: 0 0 180px;
        }
        // .footer__column_contacts
        &_contacts {
            text-align: right;
        }

        @media (max-width: 767px) {
            margin: 0px 0px 20px 0px;

            // .footer__column_wide
            &_wide {
                order: 1;
                flex: 1 1 100%;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
            // .footer__column_logo
            &_logo {
                order: 3;
                flex: 0 0 50%;
            }

            // .footer__column_contacts
            &_contacts {
                order: 2;
                flex: 0 0 50%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        @media (max-width: 480px) {
 
            &_wide {
                order: 2;
            }
            &_contacts {
                order: 1;
                flex: 1 1 100%;
                
            }
            &_logo {
                order: 3;
                flex: 1 1 100%;
                margin: 0;
            }
        }
    }

    // .footer__logo
    &__logo {
        display: inline-block;
        margin: 0px 0px 25px 0px;
    }

    // .footer__info
    &__info {
        color: #bb9c66;
        font-size: 14px;
        font-weight: 400;
    }

    // .footer__menu
    &__menu {
        padding: 0 30px;
    }

    // .footer__list
    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 15px 15px 0px 0px;
        }
    }

    // .footer__link
    &__link {
        color: #fff;
        font-family: "PF Din Text Cond Pro";
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .footer__contacts
    &__contacts {
        padding: 15px 0px 0px 0px;
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    // .footer__phone
    &__phone {
        display: flex;
        color: #bb9c66;
        font-family: "BravoRG";
        font-size: 50px;
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0px 0px 7px 0px;
        small {
            font-size: 25px;
            margin: 2px 5px 0px 0px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
            small {
                font-size: 20px;
            }
        }
    }

    // .footer__callback
    &__callback {
        text-align: right;
        background: url("../img/footer/arrow.png") left no-repeat;
        padding: 0px 0px 0px 12px;
        
        span {
            color: #bb9c66;
            font-size: 14px;
            border-bottom: 1px dashed;
        }
    }
}
