.lots {
    // .lots__container
    &__container {
        padding-top: 85px;
        padding-bottom: 63px;
    }

    // .lots__header
    &__header {
        margin: 0px 0px 40px 0px;
    }

    // .lots__slider
    &__slider {
    }
}

.slider-lots {
    // .slider-lots__body
    &__body {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 50px 0px;
        @media (max-width: 850px) {
            justify-content: space-around;
        }
        @media (max-width: 420px) {
            margin: 0px 0px 30px 0px;
        }
    }

    // .slider-lots__slide
    &__slide {
        width: 250px;
        @media (max-width: 549px) {
            flex: 1 1 auto;
        }
    }

    // .slider-lots__control
    &__control {
    }
}
.control-slider-lots {
    display: flex;
    align-items: center;
    justify-content: center;
    // .control-slider-lots__arrow
    &__arrow {
        display: flex;
        align-items: center;
        cursor: pointer;
        // .control-slider-lots__arrow_r
        &_r {
            transform: rotate(180deg);
        }

        span{
            width: 108px;
            height: 35px;
            flex: 0 0 108px;
            background: url(../img/lots/sl-arrow.png) 0 0 no-repeat;
            @media (max-width: 420px) {
                width: 80px;
                flex: 1 1 80px;
            }
            @media (max-width: 350px) {
                width: 60px;
                flex: 1 1 60px;
            }
        }
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            border: 1px solid #bb9c66;
            border-radius: 50%;
            margin: 0px 0px 0px 5px;
        }
    }

    // .control-slider-lots__link
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100px;
        height: 100px;
        background: url(../img/lots/round.png) 0 0 no-repeat;
        color: #000000;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 25px;

        @media (max-width: 420px) {
            margin: 0 15px;
        }

        @media (max-width: 320px) {
            margin: 0 10px;
        }

    }
}

.lot {
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: fade 1.5s ease;
    text-align: center;
    // .lot__header
    &__header {
        flex: 1;
        text-align: center;
        margin: 0px 0px -45px 0px;
    }
    // .lot__image
    &__image {
        display: block;
        border: 3px solid #bb9c66;
        padding: 0px 0px 97.6% 0px;
    }
    // .lot__timer
    &__timer {
    }
    // .lot__title
    &__title {
        position: relative;
        display: block;
        z-index: 2;
        color: #000;
        font-family: "PF Din Text Cond Pro";
        font-size: 21px;
        font-weight: 500;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 0px 30px 0px;
    }
    // .lot__info
    &__info {
        margin: 0px 0px 35px 0px;
    }
    // .lot__btn
    &__btn {
        margin: 0 25px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.timer-lot {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    width: 100px * 0.72;
    height: 100px * 0.72;
    color: #111;
    transform: translate(0px, -50%);
    padding-top: 2px;

    &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
        background-color: #fff;
    }
    // .timer-lot__icon
    &__icon {
        z-index: 2;
        margin: 0px 0px 2px 0px;
    }
    // .timer-lot__item
    &__item {
        z-index: 2;
        height: 13px;
        color: #000;
        font-family: "PT Sans Narrow";
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
}

.info-lot {
    display: flex;
    justify-content: center;

    // .info-lot__stats
    &__stats {
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #bb9c66;
    }

    // .info-lot__price
    &__price {
    }

    // .info-lot__icon
    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px * 0.72;
        height: 25px * 0.72;
        margin: 0px 0px 10px 0px;
        img {
            position: relative;
            z-index: 2;
        }
        &:after {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(-45deg);
            background-color: #000;
        }
    }
    // .info-lot__value
    &__value {
        font-size: 14px;
        color: #000;
        // line-height: 25px;
    }
    
}

.price-lot {
    position: relative;
    text-align: center;
    
    // .price-lot__label
    &__label {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin: 0px 0px 13px 0px;
    }

    // .price-lot__value
    &__value {
        position: relative;
        color: #1c242a;
        font-family: "BravoRG";
        font-size: 50px;
        font-weight: 400;
        line-height: 21px;
        margin: 0px 5px 13px 5px;
        &:after {
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 72px;
            height: 72px;
            border: 1px solid #bb9c66;
            z-index: -1;
        }
        
    }

    // .price-lot__currency
    &__currency {
        font-family: "ALS Rubl";
        font-size: 14px;
        line-height: 21px;
    }

    // above all divs under the decor
    div {
        position: relative;
        z-index: 2;
    }
}