// Mixins
@import "mixins.scss";

//Fonts
@import "fonts.scss";

//default fonts
$font-family: "PT Sans";

//Variables
$min-width: 320px;

$mw: 970px;
$md1: $mw + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

// Reset , default params
@import "reset.scss";

body {
    color: #000;
    font-size: 14px;
    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    &.loaded {
    }
}

.container {
    max-width: $mw;
    margin: 0 auto;
    padding: 0 10px;
}

/**
    ------------------ include Sections ------------------------/
*/
@import "header";


/*-------------------- include Sections ------------------------*/

img {
    width: 100%;
    height: auto;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
        display: none;
    }
}
//for parallax effect
.ibg_p {
    background-attachment: fixed;
}

.btn {
    cursor: pointer;
}
